interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.elsevier.com/content/abstract/scopus_id/38149032931?httpAccept=application%2Fjson
  response:
    body:
      string: '{"abstracts-retrieval-response": {"item": {"ait:process-info": {"ait:status":
        {"@state": "update", "@type": "core", "@stage": "S300"}, "ait:date-delivered":
        {"@day": "19", "@timestamp": "2021-11-19T08:27:06.000006-05:00", "@year":
        "2021", "@month": "11"}, "ait:date-sort": {"@day": "01", "@year": "2007",
        "@month": "01"}}, "bibrecord": {"head": {"author-group": [{"@auid": 0}, {"@auid":
        1}, {"@auid": 2}, {"@auid": 3}, {"@auid": 4}, {"@auid": 5}, {"@auid": 6}]}}},
        "affiliation": [], "coredata": {"srctype": "j", "eid": "2-s2.0-38149032931",
        "dc:description": "The epigenetic programming of genomic DNA is accomplished,
        in part, by several DNA cytosine-5-methyltransferases that act by covalently
        modifying cytosines with the addition of a methyl group. This covalent modification
        is maintained by the DNA cytosine-5-methyltransferase-1 enzyme (DNMT1), which
        is capable of acting in concert with other similar enzymes to silence important
        tumor suppressor genes. IL-6 is [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi?db=pubmed&rettype=abstract&id=18204201
  response:
    body:
      string: '<!DOCTYPE PubmedArticleSet PUBLIC "-//NLM//DTD PubMedArticle, 1st January
        2023//EN" "https://dtd.nlm.nih.gov/ncbi/pubmed/out/pubmed_230101.dtd">

        <PubmedArticleSet>

        <PubmedArticle><MedlineCitation Status="MEDLINE" Owner="NLM"><PMID Version="1">18204201</PMID><DateCompleted><Year>2008</Year><Month>06</Month><Day>27</Day></DateCompleted><DateRevised><Year>2022</Year><Month>04</Month><Day>08</Day></DateRevised><Article
        PubModel="Print"><Journal><ISSN IssnType="Print">1109-6535</ISSN><JournalIssue
        CitedMedium="Print"><Volume>4</Volume><Issue>6</Issue><PubDate><Year>2007</Year><Season>Nov-Dec</Season></PubDate></JournalIssue><Title>Cancer
        genomics &amp; proteomics</Title><ISOAbbreviation>Cancer Genomics Proteomics</ISOAbbreviation></Journal><ArticleTitle>IL-6
        enhances the nuclear translocation of DNA cytosine-5-methyltransferase 1 (DNMT1)
        via phosphorylation of the nuclear localization sequence by the AKT kinase.</ArticleTitle><Pagination><StartPage>387</StartPage><EndPage>398</EndPage><MedlinePgn>387-98</MedlinePgn></Pagination><Abstract><AbstractText>The
        epigenetic programming of genomic DNA is accomplished, in part, by several
        DNA cytosine-5-methyltransferases that act by covalently modifying cytosines
        with the addition of a methyl group. This covalent modification is maintained
        by the DNA cytosine-5-methyltransferase-1 enzyme (DNMT1), which is capable
        of acting in concert with other similar enzymes to silence important tumor
        suppressor genes. IL-6 is a multifunctional mediator of inflammation[...]
