interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.elsevier.com/content/search/scopus?httpAccept=application%2Fjson&query=PMID%2818204201%29
  response:
    body:
      string: '{"search-results":{"opensearch:totalResults":"1","opensearch:startIndex":"0","opensearch:itemsPerPage":"1","opensearch:Query":{"@role":
        "request", "@searchTerms": "PMID(18204201)", "@startPage": "0"},"link": [{"@_fa":
        "true", "@ref": "self", "@href": "https://api.elsevier.com/content/search/scopus?start=0&count=25&query=PMID%2818204201%29",
        "@type": "application/json"},{"@_fa": "true", "@ref": "first", "@href": "https://api.elsevier.com/content/search/scopus?start=0&count=25&query=PMID%2818204201%29",
        "@type": "application/json"}],"entry": [{"@_fa": "true", "link": [{"@_fa":
        "true", "@ref": "self", "@href": "https://api.elsevier.com/content/abstract/scopus_id/38149032931"},{"@_fa":
        "true", "@ref": "author-affiliation", "@href": "https://api.elsevier.com/content/abstract/scopus_id/38149032931?field=author,affiliation"},{"@_fa":
        "true", "@ref": "scopus", "@href": "https://www.scopus.com/inward/record.uri?partnerID=HzOxMe3b&scp=38149032931&origin=inward"},{"@_fa":
        "true", "@ref": "scopus-citedby", "@href": "https://www.scopus.com/inward/citedby.uri?partnerID=HzOxMe3b&scp=38149032931&origin=inward"}],"prism:url":"https://api.elsevier.com/content/abstract/scopus_id/38149032931","dc:identifier":"SCOPUS_ID:38149032931","eid":"2-s2.0-38149032931","dc:title":"IL-6
        enhances the nuclear translocation of DNA cytosine-5-methyltransferase 1 (DNMT1)
        via phosphorylation of the nuclear localization sequence by the AKT kinase","dc:creator":"Hodge
        D.R.","prism:publicationName":"Cancer Genomics and Proteomics","prism:issn":"11096535","prism:eIssn":"17906245","prism:volume":"4","prism:issueIdentifier":"6","prism:pageRange":"387-398","prism:coverDate":"2007-01-01","prism:coverDisplayDate":"November/December
        2007","citedby-count":"92","affiliation": [{"@_fa": "true", "affilname":"National
        Cancer Institute at Frederick","affiliation-city":"Frederick","affiliation-country":"United
        States"}],"pubmed-id":"18204201","prism:aggregationType":"Journal","subtype":"ar","subtypeDescription":"Article","source-id":"130074","openaccess":"0","openaccessFlag":false}]}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      allow:
      - GET
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.elsevier.com/content/search/scopus?count=200&field=title%2Ceid&httpAccept=application%2Fjson&query=REFEID%282-s2.0-38149032931%29&start=0
  response:
    body:
      string: "{\"search-results\":{\"opensearch:totalResults\":\"92\",\"opensearch:startIndex\":\"0\",\"opensearch:itemsPerPage\":\"92\",\"opensearch:Query\":{\"@role\":
        \"request\", \"@searchTerms\": \"REFEID(2-s2.0-38149032931)\", \"@startPage\":
      [...]
