interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.elsevier.com/content/abstract/scopus_id/85050606598?httpAccept=application%2Fjson
  response:
    body:
      string: '{"abstracts-retrieval-response": {"item": {"ait:process-info": {"ait:status":
        {"@state": "update", "@type": "core", "@stage": "S300"}, "ait:date-delivered":
        {"@day": "02", "@year": "2022", "@timestamp": "2022-04-02T00:32:21.000021-04:00",
        "@month": "04"}, "ait:date-sort": {"@day": "01", "@year": "2018", "@month":
        "07"}}, "xocs:meta": {"xocs:funding-list": {"@pui-match": "primary", "@has-funding-info":
        "1", "xocs:funding": [{"xocs:funding-agency-matched-string": "MOTIE", "xocs:funding-agency-acron[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eutils.ncbi.nlm.nih.gov/entrez/eutils/esearch.fcgi?db=pubmed&retmode=json&field=aid&term=10.4014/jmb.1812.02044
  response:
    body:
      string: '{"header":{"type":"esearch","version":"0.3"},"esearchresult":{"count":"1","retmax":"1","retstart":"0","idlist":["29913552"],"translationset":[],"querytranslation":"\"10
        4014 jmb 1812 02044\"[Publisher ID]"}}

        '
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi?db=pubmed&rettype=abstract&id=29913552
  response:
    body:
      string: '<!DOCTYPE PubmedArticleSet PUBLIC "-//NLM//DTD PubMedArticle, 1st January
        2023//EN" "https://dtd.nlm.nih.gov/ncbi/pubmed/out/pubmed_230101.dtd">

        <PubmedArticleSet>

        <PubmedArticle><MedlineCitation Status="MEDLINE" Owner="NLM"><PMID Version="1">29913552</PMID><DateCompleted><Year>2018</Year><Month>11</Month><Day>02</Day></DateCompleted><DateRevised><Year>2021</Year><Month>12</Month><Day>04</Day></DateRevised><Article
        PubModel="Print"><Journal><ISSN IssnType="Electronic">1738-8872</ISSN><JournalIssue
        CitedMedium="Internet"><Volume>28</Volume><Issue>7</Issue><PubDate><Year>2018</Year><Month>Jul</Month><Day>28</Day></PubDate></JournalIssue><Title>Journal
        of microbiology and biotechnology</Title><ISOAbbreviation>J Microbiol Biotechnol</ISOAbbreviation></Journal><ArticleTitle>Decursin
        and Z-Ligustilide in <i>Angelica tenuissima</i> Root Extract Fermented by
        <i>Aspergillus oryzae</i> Display Anti-Pigment Activity in Melanoma Cells.</ArticleTitle><Pagination><StartPage>1061</StartPage><EndPage>1067</EndPage><MedlinePgn>1061-1067</MedlinePgn></Pagination><ELocationID
        EIdType="doi" ValidYN="Y">10.4014/jmb.1812.02044</ELocationID><Abstract><AbstractText>The
        anti-melanogenic effects of the extract of <i>Angelica tenuissima</i> (AT)
        root and the extract of AT root fermented by <i>Aspergillus oryzae</i> (FAT)
        were investigated. These effects were determined by measuring the inhibitory
        activity of AT and FAT on melanin production in B16F10 melanocytes and with
        in vitro tyrosinase activity assays. The AT extract inhibited melanin production
        at concentrations above 250 &#956;g/ml, and this inhibitory effect was significantly
        enhanced by the fermentation process with <i>A. oryzae</i>. HPLC analysis
        resulted in the isolation of two active compounds from both the AT and FAT
        extracts. Their chemical structures were identified as decursin and Z-ligustilide
        through comparison with previously reported NMR data. The decursin and Z-ligustilide
        contents were increased in the FAT extract and could be responsible for its
        enhanced inhibitory effects on melanin production and tyrosinase activity
        compared with that of the AT extract.</AbstractText></Abstract><AuthorList
        CompleteYN="Y"><Author ValidYN="Y"><LastName>Last Name 0</LastName><ForeName>First
        Name 0</ForeName><Initials>Initials 0</Initials><AffiliationInfo><Affiliation>Affiliation
        0</Affiliation></AffiliationInfo></Author><Author ValidYN="Y"><LastName>Last
        Name 1</LastName><ForeName>First Name 1</ForeName><Initials>Initials 1</Initials><AffiliationInfo><Affiliation>Affiliation
        1</Affiliation></AffiliationInfo></Author><Author ValidYN="Y"><LastName>Last
        Name 2</LastName><ForeName>First Name 2</ForeName><Initials>Initials 2</Initials><AffiliationInfo><Affiliation>Affiliation
        2</Affiliation></AffiliationInfo></Author><Autho[...]
